.mainContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 90px;
  margin: 30px 30%;
  background-color: #ccc;
  padding: 10px;
}
.textContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(198, 182, 182);
  margin-bottom: 5px;
}
.detailText {
  background-color: lightpink;
}
.btn {
  box-sizing: border-box;
  width: 100px;
  border-radius: 5px;
  border: #ccc;
  padding: 2px 5px;
}
.box1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: teal;
  right: 0;
  top: 1rem;
  margin-right: 1rem;
}
.box2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(30, 128, 0);
  right: 0;
  top: 1rem;
  margin-right: 5rem;
}
